@{
    
    Robot robot = (Robot) ViewData["robot"];
}


<div class="text-center">


    <h1>@robot.Name</h1>
    <h3>@robot.Height</h3>
    <h3>@robot.Weight</h3>
    <h3>@robot.Country</h3>
    <img src="https://robohash.org/@robot.Name" />
</div>
